<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">您好， [[${#httpServletRequest.remoteUser}]]!</h1>
        <p><a th:href="@{/helloadmin}">前往管理员界面</a></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="登出"/>
        </form>
    </body>
</html>